
        <div class="container">
            <div class="logo">
                <a href="/">
                    <img src="img/logo.png" alt="">
                </a>
            </div>
            <div class="nav-menu">
                <nav class="mainmenu mobile-menu">
                    <ul>
                        <li class="active"><a href="/home">Home</a></li>
                        <li><a href="/about" >About</a><li></li>
                        <li><a href="/users/login">Login</a></li>
                        <li><a href="/users/register">Classes</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="">Gallery</a></li>
                        <li><a href="">Contacts</a></li>
                    </ul>
                </nav>
                <a href="/users/register" class="primary-btn signup-btn">Sign Up Today</a>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
