<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Project for Colin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <h1>thank you for logging in</h1>
        <h1>calculate your BMI</h1>
        <form role="form" method="POST" action="/users/bmi">
            <input name="weight" placeholder="weight" type='text'><br>
            <input name="height" placeholder="height" type='text'><br>
            <input value="calculate my BMI" type="button">
            <br><br>
            <label>BMI:</label><input type="text" name="bmi" readonly="readonly">
            <a href="">track your calories?</a>
            <a href="">track your exercise?</a>
        </form>
    </body>
</html>