<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Project for Colin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <h1>thank you for logging in</h1>
        <h1>calculate your BMI</h1>
        <form role="form" method="POST" action="/auth/bmi">
            <input  placeholder="weight" type='text' id="weight" name="weight"><br>
            <input   placeholder="height" type='text' id="height" name="height"><br>
            <button type="submit">Calculate my BMI</button>
        </form>
            <br><br>
            <p>YOUR BMI IS: <%= bmi %> </p>
            <!-- <label>YOUR BMI IS:</label> -->
            <!-- <input type="text" name="bmi" readonly="readonly"><br> -->
            <a href="/auth/track">track your calories?</a>
            <a href=""> track your exercise?</a>
    </body>
</html>