<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Project for Colin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h2>welcome to login page</h2>
        <fieldset>
        <form role="form" method="POST" action="/users/login">
            <input name="email" placeholder="email" type='email'><br>
            <input name="password" placeholder="password" type='password'><br>
            <input type="submit" value="login">
        </fieldset>
        </form>
    </body>
</html>