<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Project for Colin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h3>welcome to welcome page. Please sign In or Register</h3>
        <a href="users/login">Login</a> | <a href="users/register">Register</a>
    </body>
</html>